<header>
    <div class="navbar navbar-inverse bg-dark shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size:35px ; color: white; margin-left: 5%;" class="fa fa-glide-g">
                <strong>Cabs</strong>
             
            </i>
        </div>

        <button class="btn" style="margin-left:55%;">
            <i style="color: white ; font-size:35px" class="fa fa-taxi"></i>
        </button>
        <button class="btn" style="margin-right: 22%;">
            <i style="color: white ; font-size:35px ; " class="fa fa-user"> </i>
        </button>

    </div>
</header>

